body,
button {
  font-family: $font-primary;
  font-size: .875rem;
  line-height: 1.9;
  text-align: justify;
}

h1 {
  font-size: 1.35rem;
  line-height: 3;
  text-transform: uppercase;
  color: $color-primary;
  letter-spacing: .5px;
  text-align: center;
}

.btn {
  &--page--header {
    color: $color-header;
  }

  &--icon {
    font-size: 1.25rem;
  }

  &--submit,
  &--cancel {
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: -.5px;
  }

  &--submit {
    color: #fff;
  }

  &--cancel {
    color: rgba($color-primary, .5);

    &:hover {
      color: rgba($color-primary, .7);
    }

  }

}

.nav {
  &--heading {
    text-transform: uppercase;
    color: $color-primary;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 2.5;
  }
}

.main__header button {
  font-weight: 700;
  transform: scale(1.05);
}

.to-do__title {
  font-weight: 700;
}

// Form

input,
textarea {
  font-family: $font-primary;
}

[name="title"] {
  font-weight: 700;
}

[name="date"] {
  color: $color-form;
}

.add-priority {
  font-size: 1.1rem;
}