// NAV-ICONS

.nav {
  &__to-do li:before,
  &__projects li:before,
  &__filters li:before {
    margin: $margin-indent;
  }

  &__to-do li:before {
    @include font-awesome-400();
  }

  &__projects li:before {
    content: "⚫";
    color: $color-projects;
  }

  .project_list__add:before {
    content: $icon-add;
    @include font-awesome-700();
  }

  &__filters li:before {
    content: "\f02e";
    @include font-awesome-400();
  }
}

// Color Priority Icons
@each $level, $color in $color-priority {
  .priority-#{$level} {
    color: $color;
  }
}

// Date Icons
@each $date, $value in $icons-date {
  .date-#{$date}::before {
    content: $value;
  }
}

// Color Date Icons
@each $date, $value in $color-date {
  .date-#{$date}::before {
    color: $value;
  }
}

// Category Icons
.nav--heading:before {
  content: map-get($icons-caret, down);
  color: $color-primary;
  @include font-awesome-700();
  margin-right: .75rem;
}

// MAIN ICONS

.main__header li:before {
  content: map-get($icons-caret, down);
  @include font-awesome-700();
}