.to-do {
  display: grid;
  grid-template-columns: auto 6.5rem 1fr 6.5rem 2rem;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  align-items: start;
  word-break: break-word;
  position: relative;
  padding: .75rem 0;
  border-bottom: 1px solid rgba($color-primary, .1);

  @media all and (max-width: 576px) {
    grid-template: repeat(3, auto) / auto 1fr 2rem;
    grid-gap: .5rem;

    &__check {
      grid-row: 1 / -1;
    }

    &__priority {
      grid-row: 1;
    }
  }

  &:last-of-type {
    border-bottom: none;
  }
  
  &__check {
    margin-top: 7px;
  }

  &:hover .btn--edit {
    display: initial;
  }

}