.page__header {
  position: fixed;
  background: $color-primary;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  

  ul {
    display: flex;
    flex: 1;

    & li:last-child {
      margin-left: auto;
    }
  }
}

.main__header {

  ul {
    display: grid;
    grid-template-columns: 6.5rem 1fr 5.5rem auto;
    margin-left: 2.35rem;
    grid-gap: 1rem;
  }

  &__date {
    justify-self: center;
  }

}